.edit-screen {
  text-align: center;
  padding: 20px;
  margin: auto;
}
.edit-tweet-form {
  width: 100vw;
}
.edit-tweet-input {
  width: 60%;
  height: 100px;
}
.add-tweet-btn {
  margin-top: 5%;
}
